 
    <!-- footer_start -->
    <footer class="footer footer_bg_1">
        <div class="circle_ball d-none d-lg-block">
            <img src="img/banner/footer_ball.png" alt="">
        </div>
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Follow Us
                                </h3>
                                <ul>
                                    <li><a target="_blank" href="#">Facebook</a></li>
                                    <li><a target="_blank" href="#">Twitter</a></li>
                                    <li><a target="_blank" href="#">Instagram</a></li>
                                    <li><a target="_blank" href="#">Youtube</a></li>
                                </ul>
    
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Links
                                </h3>
                                <ul>
                                    <li><a target="_blank" href="schedule.html">Schedule</a></li>
                                    <li><a target="_blank" href="speakers.html">Speakers</a></li>
                                    <li><a target="_blank" href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Venue
                                </h3>
                                <p>
                                    200, D-block, Green lane USA <br>
                                    edumark@contact.com <br>
                                    +10 367 467 8934
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- footer_end -->


  <!-- JS here -->
    <script type="text/javascript" src="javascripts/vendor/modernizr-3.5.0.min.js"></script>
    <script type="text/javascript" src="javascripts/vendor/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="javascripts/popper.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="javascripts/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="javascripts/ajax-form.js"></script>
    <script type="text/javascript" src="javascripts/waypoints.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="javascripts/scrollIt.js"></script>
    <script type="text/javascript" src="javascripts/jquery.scrollUp.min.js"></script>
    <script type="text/javascript" src="javascripts/wow.min.js"></script>
    <script type="text/javascript" src="javascripts/nice-select.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.countdown.js"></script>
    <script type="text/javascript" src="javascripts/plugins.js"></script>

    <!--contact js-->
    <script type="text/javascript" src="javascripts/contact.js"></script>
    <script type="text/javascript" src="javascripts/jquery.ajaxchimp.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.form.js"></script>
    <script type="text/javascript" src="javascripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="javascripts/mail-script.js"></script>

    <script type="text/javascript" src="javascripts/main.js"></script>