<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>FangZhou</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="manifest" href="site.webmanifest"> -->
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
<!-- Place favicon.ico in the root directory -->
<!-- CSS here -->
<link rel="stylesheet" type ="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type ="text/css" href="/stylesheets/owl.carousel.min.css">
<link rel="stylesheet" type ="text/css" href="/stylesheets/magnific-popup.css">
<link rel="stylesheet" type ="text/css" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" type ="text/css" href="/stylesheets/themify-icons.css">
<link rel="stylesheet" type ="text/css" href="/stylesheets/nice-select.css">
<link rel="stylesheet" type ="text/css" href="/stylesheets/flaticon.css">
<link rel="stylesheet" type ="text/css" href="/stylesheets/animate.css">
<link rel="stylesheet" type ="text/css" href="/stylesheets/slicknav.css">
<link rel="stylesheet" type ="text/css" href="/stylesheets/style.css">