<!DOCTYPE html>
<html lang="en">
  <head>
  	<%- include('partials/head')%>
  </head>
  <body>
	<%- include('partials/nav')%>    

    <!-- slider_area_start -->
    <div class="slider_area slider_bg_1">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                    <h1 class="opcity_text d-none d-lg-block">KOREA Abroad</h1>
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <h3>Fangzhou <br>
                                    Liu Xue <br>
                                    Zhong Xin</h3>
                                <a href="#" class="boxed-btn-white">Add to your Calendar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--         <div class="countDOwn_area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single_date">
                            <i class="ti-location-pin"></i>
                            <span>City Hall, New York City</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="single_date">
                            <i class="ti-alarm-clock"></i>
                            <span>12-15 Sep 2019</span>
                        </div>
                    </div>

                    <div class="col-xl-5 col-md-12 col-lg-5">
                        <span id="clock"></span>
                    </div>

                </div>
            </div>
        </div> -->
    </div>
<!-- 메인 서비스 소개 -->
    <!-- ms_area_start -->
    <div class="ms_area">
        <!-- 오늘쪽 공 사진 -->
        <div class="shape-1 d-none d-xl-block">
            <img src="img/about/shap1.png" alt="">
        </div>
        <div class="shape-2 d-none d-xl-block">
            <img src="img/about/shap2.png" alt="">
        </div>
        <!-- 공사진 끝 -->
        <div class="container">
            <div class="row row-cols-2 align-items-center">
                <div class="col">
                    <div class="service_thumb">
                        <img src="img/ms/ms_1.png" alt="">
                        <div class="title">
                    		<h1>유학소개</h1>
                    	</div>
                    </div>
					<div class="service_info">
                        <img src="img/ms/ms_1.png" alt="">
                        <div class="title">
                    		<span>TOPIK Class</span>
                    	</div>
                    </div>                  
                </div>
                <div class="col" >
                    <div class="service_info">
                    	<img src="img/ms/ms_1.png" alt="">
                        <div class="title">
                    		<h1>어학원 신청</h1>
                    	</div>
                    </div>
                    <div class="service_info">
                        <img src="img/ms/ms_1.png" alt="">
                        <div class="title">
                    		<h1>대학입시</h1>
                    	</div>
                    </div>
                    <div class="service_info">
                        <img src="img/ms/ms_1.png" alt="">
                        <div class="title">
                    		<h1>대학원입시</h1>
                    	</div>
                    </div>
		            <div class="service_info">
                        <img src="img/ms/ms_1.png" alt="">
                        <div class="title">
                    		<h1>한국어회</h1>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ms_area_end -->

    <%- include('partials/footer')%>   
  </body>
</html>
